
<form action='/restaurants' method='POST' class='col col-lg-6 mx-auto mt-5'>
  <ul class='list-group'>
    <li class="list-group-item ">
  <label class="col col-lg-4">餐廳中文名稱</label>
  <input type='text' name='name' placeholder='name_en' size='40' required />
</li>
    <li class="list-group-item ">
  <label class="col col-lg-4">餐廳英文名稱</label>
  <input type='text' name='name_en' placeholder='name_en' size='40' required />
</li>
<li class="list-group-item ">
  <label class="col col-lg-4">餐廳種類</label>
  <input type='text' name='category' placeholder='category' size='40' required />
</li>
<li class="list-group-item ">
  <label class="col col-lg-4">餐廳圖片網址</label>
  <input type='url' name='image' placeholder='image' size='40' required />
</li>
<li class="list-group-item ">
  <label class="col col-lg-4">餐廳地址</label>
  <input type='text' name='location' placeholder='location' value='{{list.location}}' size='40' required />
</li>
<li class="list-group-item ">
  <label class="col col-lg-4">餐廳電話</label>
  <input type='number' name='phone' placeholder='phone' maxlength='10' size='40' required />
</li>
<li class="list-group-item ">
  <label class="col col-lg-4">Google地圖</label>
  <input type='url' name='google_map' placeholder='google_map' size='40' required />
</li>
<li class="list-group-item ">
  <label class="col col-lg-4">評分</label>
  <input type='number' max='5' min='0' name='rating' placeholder='rating' size='40' required />
</li>
<li class="list-group-item ">
  <label class="col col-lg-4">餐廳簡介</label>
  <input type='text' name='description' placeholder='description' size='40' required />
</li>
    <button class='btn btn-info' type='submit'>create</button>
  </ul>
</form>

{{!-- 我不想打字所以先留著 --}}
